In [3]:
import pandas as pd

df = pd.read_csv("house_prices.csv")

print("Shape:", df.shape)
print("\nFirst 5 rows:")
print(df.head())

print("\nDataset info:")
df.info()

Shape: (187531, 21)

First 5 rows:
   Index                                              Title  \
0      0  1 BHK Ready to Occupy Flat for sale in Srushti...
1      1  2 BHK Ready to Occupy Flat for sale in Dosti V...
2      2  2 BHK Ready to Occupy Flat for sale in Sunrise...
3      3        1 BHK Ready to Occupy Flat for sale Kasheli
4      4  2 BHK Ready to Occupy Flat for sale in TenX Ha...

                                         Description Amount(in rupees)  \
0  Bhiwandi, Thane has an attractive 1 BHK Flat f...           42 Lac
1  One can find this stunning 2 BHK flat for sale...           98 Lac
2  Up for immediate sale is a 2 BHK apartment in ...          1.40 Cr
3  This beautiful 1 BHK Flat is available for sal...           25 Lac
4  This lovely 2 BHK Flat in Pokhran Road, Thane ...          1.60 Cr

   Price (in rupees) location Carpet Area         Status         Floor  \
0             6000.0    thane    500 sqft  Ready to Move  10 out of 11
1            13799.0    thane    473 sqft  Ready to Move   3 out of 22
2            17500.0    thane    779 sqft  Ready to Move  10 out of 29
3                NaN    thane    530 sqft  Ready to Move    1 out of 3
4            18824.0    thane    635 sqft  Ready to Move  20 out of 42

  Transaction  ... facing             overlooking  \
0      Resale  ...    NaN                     NaN
1      Resale  ...   East             Garden/Park
2      Resale  ...   East             Garden/Park
3      Resale  ...    NaN                     NaN
4      Resale  ...   West  Garden/Park, Main Road

                               Society Bathroom Balcony Car Parking  \
0  Srushti Siddhi Mangal Murti Complex        1       2         NaN
1                          Dosti Vihar        2     NaN      1 Open
2                 Sunrise by Kalpataru        2     NaN   1 Covered
3                                  NaN        1       1         NaN
4          TenX Habitat Raymond Realty        2     NaN   1 Covered

              Ownership Super Area Dimensions  Plot Area
0                   NaN        NaN        NaN        NaN
1              Freehold        NaN        NaN        NaN
2              Freehold        NaN        NaN        NaN
3                   NaN        NaN        NaN        NaN
4  Co-operative Society        NaN        NaN        NaN

[5 rows x 21 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB